@font-face {
	font-family: 'Courier Prime';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url("./fonts/Courier Prime.ttf");
}

:root {
	--black: #1d2b47;
	--white:#fff;
	--primary-color: #0A0AFF;
	--light-gray: #eee;
	--almost-white: #f6f7f7;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	position: relative;
	overflow-x: hidden;
}

body {
	color: var(--black);
	box-sizing: border-box;
	font-family: 'Courier Prime', monospace;
	font-size: 11px;
	line-height: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
